{% extends 'base.twig' %}

{% block body %}
	<center>
		<h1>ERROR 404</h1>
		<hr>
		<h2>Recurso no encontrado</h2>
		<p>El recurso que solicito no ha sido encontrado.</p>
		<a href="/home">Volver al inicio</a>
	</center>
{% endblock %}