# Archivos generados por PHPCodeIntel en Sublime Text 3
.phpintel/*

# Bitacora de errores de PHP
php_errors.log

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log

###> Packages vendor
Core/vendor/
Core/composer.lock
Core/composer.json
composer.lock

