# Archivos generados por PHPCodeIntel en Sublime Text 3
.phpintel/*

# Bitacora de errores de PHP
php_errors.log

#Nimter Cache
Nimter/Core/cache/twig

###> Composer packages
Nimter/vendor/
Nimter/composer.lock