<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <link rel="icon" href="#">

        <title>{% block title %}Nimter Framework{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="Styles/vendor/bootstrap/bootstrap.min.css" media="screen" />
        <!-- Custom styles -->
        <link rel="stylesheet" href="Styles/css/styles.css" media="screen" />
        <!--core first + styles last-->
        <link href="Styles/vendor/fontawesome/css/fontawesome-all.css" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
         <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="Styles/vendor/jquery/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="Styles/vendor/js/popper.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="Styles/vendor/bootstrap/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>