<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://localhost/Horizon/Styles/images/favicon.ico">
    <title>Horizon</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://localhost/Horizon/Styles/vendor/bootstrap/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="http://localhost/Horizon/Styles/vendor/css/datepicker.css" media="screen" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="http://localhost/Horizon/Styles/css/styles.css" media="screen" />
    {% if controller is defined and controller == 'login' %}
    <link rel="stylesheet" href="http://localhost/Horizon/Styles/css/login.css" media="screen" />
    {% endif %}
    <!--core first + styles last-->
    <link href="http://localhost/Horizon/Styles/vendor/fontawesome/css/fontawesome-all.css" rel="stylesheet" />
  </head>