{# Plantilla para el Home de la página #}
{% include 'overall/head.twig' %}
<body>
	{% include 'overall/topnav.twig' %}
	<div class="container">
		<br>
		<div class="jumbotron mt-3">
			<h1 class="display-3"><i class="fas fa-rocket"></i> {{ Title }}</h1>
			<p class="lead">Framework compacto hecho en PHP 7.0, con componentes de Symfony y Twig como motor de Plantillas.</p>
			<hr class="m-y-md">
			<p>Soporte Mysqli y estructura MVC, configuración sencilla y depurador de codigo.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="/Horizon/README.md" role="button"><i class="fas fa-book"></i> Aprender más...</a>
			</p>
		</div>
	</div>
{% include 'overall/footer.twig' %}
</body>
</html>