{% include 'overall/head.twig' %}
<body>
	<div class="container">
		<div class="row">
			<div class="form-signin" style="margin-top: 6.5rem;">
	            <div class="text-center mb-4">
	              <h4 class="display-4a">Iniciar Sesión Dx2</h4>
	            </div>
	            <div id="_ALERTS_"></div>
	            <div class="form-label-group">
	              <input type="text" id="user" class="form-control" placeholder="Nombre de usuario" required autofocus>
	              <label for="user">Nombre de usuario</label>
	            </div>
	            <div class="form-label-group">
	              <input type="password" id="pwd" class="form-control" placeholder="Cotraseña" required>
	              <label for="pwd">Contraseña</label>
	            </div>
	            <div class="checkbox mb-3">
	              <label>
	                <input type="checkbox" value="recordarme" id="session"> <span class="text-left">Recordarme</span> 
	              </label>
	              <a href="#" class="float-right">¿Olvido su contraseña?</a>
	            </div>
	            <button class="btn btn-lg btn-primary btn-block" type="submit" id="send_request">Iniciar Sesión</button>
	        </div>
		</div>
	</div>
{% include 'overall/footer.twig' %}

<script type="text/javascript">
	window.onload = function() 
    {
        document.getElementById('send_request').onclick = function() 
        {
            var connect, user, pwd, form, result;
            user = $('#user').val();
            pwd = $('#pwd').val();
            session = document.getElementById('session').checked ? true : false;
            //Verifica que se hayan introduciodo datos en el login
            if (user != '' && pwd != '') 
            {
                form = 'username=' + user + '&pwd=' + pwd + '&session=' + session;
                connect = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
                connect.onreadystatechange = function() 
                {
                    //console.log(connect.responseText);
                    //console.log(form);
                    if (connect.readyState == 4 && connect.status == 200) 
                    {
                        if (parseInt(connect.responseText) == 1) 
                        {
                            //Conectado con exito y redirecciona
                            result = '<div class="alert alert-dismissible alert-success" style="max-width:500px">';
                            result += '<button type="button" class="close" data-dismiss="alert">x</button>';
                            result += '<strong>Conectado: </strong> Un poco más los estamos redirigiendo...';
                            result += '</div>';
                            document.getElementById('_ALERTS_').innerHTML = result;
                            location.href = '?view=adminPanel';
                        }
                        else if (parseInt(connect.responseText) == 11)
                        {
                            //Conectado con exito y redirecciona
                            result = '<div class="alert alert-dismissible alert-success" style="max-width:500px">';
                            result += '<button type="button" class="close" data-dismiss="alert">x</button>';
                            result += '<strong>Conectado: </strong> Un poco más los estamos redirigiendo...';
                            result += '</div>';
                            document.getElementById('_ALERTS_').innerHTML = result;
                            location.href = '?view=tutor';
                        }
                        else 
                        {
                            //ERROR: Los datos son incorrectos
                            result = '<div class="alert alert-dismissible alert-danger" style="max-width:500px">';
                            result += '<button type="button" class="close" data-dismiss="alert">x</button>';
                            result += '<strong>ERROR: </strong> credenciales incorrectas.';
                            result += '</div>';
                            document.getElementById('_ALERTS_').innerHTML = result;
                        }
                    } 
                    else if (connect.readyState != 4) 
                    {
                        //Procesando..
                        result = '<div class="alert alert-dismissible alert-warning" style="max-width:500px">';
                        result += '<button type="button" class="close" data-dismiss="alert">x</button>';
                        result += '<strong> Procesando...</strong>';
                        result += '</div>';
                        document.getElementById('_ALERTS_').innerHTML = result;
                    }
                }
                connect.open('POST', '?view=login', true);
                connect.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                connect.send(form);
            } 
            else 
            {
                //ERROR: Datos vacios
                result = '<div class="alert alert-dismissible alert-danger" style="max-width:720px">';
                result += '<button type="button" class="close" data-dismiss="alert">x</button>';
                result += '<strong>ERROR: </strong> se requiere un usuario y contraseña.';
                result += '</div>';
                document.getElementById('_ALERTS_').innerHTML = result;
            }
        }
    }
	</script>
</body>